.button_container{
    display:flex;
    margin-top: 20%;
}
form {
    display:flex;
    gap:9%;
}
button[type="submit"] {
    background-color: darkorchid;
    border-color: darkorchid;
    color:azure;
    border-radius: 10px;
    padding:5px;
    margin-top: 5px;
    width: 140px;
}