.content-review{
    padding:10px;
    font-size: 15px;
    max-width: 600px;
    max-height: auto;
    margin-top: 0;
}
td{
    max-width: 400px;
    padding-left:20px;
}
.ImageBox{
    max-width: 600px;
    max-height: 450px;
    overflow: hidden;
    margin-left: -120px;
}
.ImageBox img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.InfoBox{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    margin-top: 5px;
    gap:8%;
}